@{
    ViewData["Title"] = "Home Page - Northwind Traders";
}

<div class="text-center">
    <h1 class="display-4">Northwind Traders</h1>
    <img src="img/northwind.png" />
    <p>Proudly distributing fine foods around the world since 1994.</p>
</div>